@import "bootstrap";
@import "toastr";

.form-control.error {
  border-color: #dc3545;
}

.form-control.error:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25)
}

label.error {
  width: 100%;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 3px 8px;
  margin: 10px 0;
  border-radius: 3px;
  font-size: 13px;
}

label.error:after {
  content: '';
  position: absolute;
  width: 15px;
  left: 30px;
  margin-top: -10px;
  border-width: 0 8px 8px;
  border-style: solid;
  border-color: #f8d7da transparent;
}
